.MyPurchase {
    display: flex;
    justify-content: center;

    .container {
        width: 1400px;
        padding: 50px 0px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: #2B3467;
                color: white;
                font-weight: 500;
                border: none;
                padding: 15px;
                cursor: pointer;
            }
        }

        select {
            padding: 10px 10px;
            margin: 5px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            color: #333;
            font-size: 16px;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-spacing: 0;
            table-layout: fixed;
            margin-top: 20px;

            tr {
                height: 50px;
                white-space: nowrap;

                th {
                    text-align: center;
                    background-color: #2B3467;
                    color: white;
                    padding: 10px;
                }

                td {
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 10px;

                    img {
                        width: 50px;
                        height: 25px;
                        object-fit: cover;
                    }

                    button {
                        color: #2B3467;
                        font-weight: 500;
                        border: none;
                        padding: 10px;
                        cursor: pointer;
                        border-radius: 12px;
                        width: 100px;
                    }

                    .update {
                        background-color: yellow;
                    }

                    .delete {
                        background-color: #EB455F;
                    }
                }

                &:nth-child(even) {
                    background-color: #BAD7E9;
                }

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }
    }
}