.accountSettings{
    padding: 20px;
    button {
        width: 30%;
        height: 50px;
        padding: 10px;
        border: none;
        background-color: wheat;
        color: #2B3467;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 30px;
        float: left;
    }
}