.manageCourses {
    display: flex;
    justify-content: center;

    .container {
        width: 1400px;
        padding: 50px 0px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: #2B3467;
                color: white;
                font-weight: 500;
                border: none;
                padding: 15px;
                cursor: pointer;
            }
        }

        table {
            width: 100%;
            border-spacing: 0;
            table-layout: fixed;
            margin-top: 20px;

            tr {
                height: 50px;
                // overflow: hidden;
                white-space: nowrap;

                .courseTitle {
                    width: 100px;
                    // overflow: hidden;
                }

                th {
                    text-align: center;
                    background-color: #2B3467;
                    color: white;
                }

                td {
                    text-align: center;

                    img {
                        width: 50px;
                        height: 25px;
                        object-fit: cover;
                    }

                    span {
                        font-weight: 400;
                        padding: 5px 15px;
                        border-radius: 5px;

                        &.Approved {
                            background-color: green;
                            color: white;
                        }

                        &.Pending {
                            background-color: yellowgreen;
                            color: #2B3467;
                        }
                    }

                    button {
                        color: #2B3467;
                        font-weight: 500;
                        border: none;
                        padding: 10px;
                        cursor: pointer;
                        border-radius: 12px;
                        width: 100px;
                    }

                    .update {
                        background-color: yellow;
                    }

                    .delete {
                        background-color: #EB455F;
                    }
                }

                &:nth-child(even) {
                    background-color: #BAD7E9;
                }
            }
        }
    }
}