.home {

    .features {
        background-color: #2B3467;
        display: flex;
        justify-content: center;
        padding: 100px 0px;

        &.dark {
            background-color: #2B3467;
            padding: 0px !important;

            // emphasize important to avoid element being overide
            h1 {
                margin-bottom: 10px !important;
                color: #FCFFE7 !important;
            }

            p {
                color: #FCFFE7 !important;
                margin-bottom: 20px !important;
            }

            .title {
                color: #FCFFE7 !important;
                font-weight: 300 !important;
                font-size: 14px !important;
            }

            img {
                width: 100%;
            }

            button {
                background-color: #FCFFE7;
                color: #2B3467;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                margin-top: 20px;
                border: none;
                max-width: max-content;
            }
        }

        .container {
            width: 1400px;
            display: flex;
            align-items: center;
            gap: 200px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 15px;

                // left side child
                &:first-child {
                    flex: 2;
                }

                // right side child
                &:last-child {
                    flex: 3;
                }

                h1 {
                    font-weight: 500;
                    margin-bottom: 50px;
                    color: #FCFFE7;
                }

                p {
                    font-size: 10px;
                    font-weight: 300;
                    color: #FCFFE7;
                    line-height: 30px;
                    letter-spacing: 1px;
                }

                .title {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: 500;
                    font-size: 18px;
                    color: #FCFFE7;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .vedio {
                    width: 720px;
                }
            }
        }
    }

    .educators {
        background-color: #FCFFE7;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            padding: 50px 0px 0px;
            margin-top: 10px;
            color: #2B3467;
        }
    }

    .courseCategory {
        background-color: #FCFFE7;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-top: 10px;
            color: #2B3467;
            margin-bottom: 30px;
        }

        p {
            color: #2B3467;
        }
    }
}