.paymentCheckout{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 25vh;
    background:#2B3467;

    // .container{
    //     display: flex;
    //     background-color: white;
    // }
}